<footer id="footer" class="footer" >
	<mat-grid-list cols="{{col3}}" rowHeight="1:{{y}}">
		<mat-grid-tile>
			<span class="footer-links">
				<a routerLink="/home">Home</a>
				<a routerLink="/about">About Us</a>
				<a routerLink="/rental-solution">Rental Solution</a>
				<a routerLink="/contact-us">Contact Us</a>
				<a routerLink="/term-condition">Terms &amp; Condition</a>
			</span>
		</mat-grid-tile>
		<mat-grid-tile>
			<span class="footer-address">
				<h3>Address</h3>
				<p>
					<mat-icon class="md-18">pin_drop</mat-icon>
					<span>S-48,great kailash -1 sector-4 Block A Kailash Colony </span>
				</p>
				<p>
					<mat-icon class="md-18">phone_in_talk</mat-icon>
					<span>+91  6757645475</span>
				</p>
			</span>
		</mat-grid-tile>
		<mat-grid-tile class="mymap">
			<span class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.9102355605396!2d77.27269461455822!3d28.57245809354935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce39ab68cc5b9%3A0xddc23e7e3c320d5c!2sKhizrabad%2C+New+Delhi%2C+Delhi+110065!5e0!3m2!1sen!2sin!4v1538893696347" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
			</span>
		</mat-grid-tile>
	</mat-grid-list>
</footer>
<section id="copy-right">
	<div class="copy-right">
		<p>&copy;2018 Micro Rent .All Rights reserved</p>
		<p>Designed &amp; Developed By: <a href="https://wampinfotech.com">WAMP Infotech Pvt Ltd.</a></p>
	</div>
</section>