<section id="about">
	<div class="front-image about-front" style="background-image: url('assets/images/about-front-bg.jpeg')">
		<div class="text">
			<h1>About Us</h1>
			<p align="center"><a routerLink="/home">Home</a>/About</p>
		</div>
	</div>
</section>
<br>
<section id="about-text" class="mycontainer">
	<mat-card>
		<mat-card-content>
<!-- 			<mat-grid-list cols="{{col4}}" rowHeight="300px" gutterSize="20px">
				<mat-grid-tile>
					<span>
						
						<img src="assets/images/about-front-bg.jpeg" height="100">
						
					</span>
				</mat-grid-tile>
				<mat-grid-tile>
					<span>
						<h3>About Us</h3>
						<p>This ebsite is your convenient one-stop source for all leading brands' desktop, laptop, servers, printers, networking equipment and other computer add-on accessories for purchasing or hiring. Desktop, laptop, printer and server are given on rental basis with customization as required by the clients at very competitive prices. We do this for our clients, as we firmly believe that: "When our customer win, We win".
						</p>
					</span>
				</mat-grid-tile>
			</mat-grid-list> -->
			<mat-card-title>
				<h3>About Us</h3>
			</mat-card-title>
			<mat-card-content>
				<p>Microrent India's high-tech selection makes it easy to find the best rent-to-own laptops, desktop computers, tablets, and more. Browse the array of rent-to-own computers in our stores and on our website, and our customer service associates will help you pick the right rent-to-own desktop computer, laptop, or tablet that will fit perfectly with your lifestyle. Microrent India represents some of the best computer brands on the planet, giving you plenty of options. Select any laptop or any desktop computer, and enjoy the best in innovation, connectivity, and agility for your home, office, or school needs.</p>
				<p>
				Microrent India also offers used laptops, tablets, and desktop computers. All of these ‘like new’ refurbished appliances have been through a rigorous quality assurance testing process. Purchasing used laptops or other computers means you save significantly, without sacrificing quality or innovation.</p>

			</mat-card-content>
		</mat-card-content>
	</mat-card>
</section>
<br><br>
<section id="about-team">
	<h3 align="center">Our Team</h3>
	<mat-grid-list cols="3" rowHeight="1:1.5" gutterSize="15px">
		<mat-grid-tile>
			<mat-card class="about-card">
			  <img mat-card-image src="assets/images/client.jpeg" alt="Photo of a Shiba Inu">
			  <mat-card-content>
			    <p>
			      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
			      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
			      bred for hunting.
			    </p>
			  </mat-card-content>
			  <mat-card-actions>
			    <button mat-button>LIKE</button>
			    <button mat-button>SHARE</button>
			  </mat-card-actions>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card class="about-card">
			  
			  <img mat-card-image src="assets/images/client.jpeg" alt="Photo of a Shiba Inu">
			  <mat-card-content>
			    <p>
			      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
			      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
			      bred for hunting.
			    </p>
			  </mat-card-content>
			  <mat-card-actions>
			    <button mat-button>LIKE</button>
			    <button mat-button>SHARE</button>
			  </mat-card-actions>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card class="about-card">
			  <img mat-card-image src="assets/images/client.jpeg" alt="Photo of a Shiba Inu">
			  <mat-card-content>
			    <p>
			      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
			      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
			      bred for hunting.
			    </p>
			  </mat-card-content>
			  <mat-card-actions>
			    <button mat-button>LIKE</button>
			    <button mat-button>SHARE</button>
			  </mat-card-actions>
			</mat-card>
		</mat-grid-tile>

	</mat-grid-list>
</section>
<app-subscribe></app-subscribe>