<section id="why-choose">
	<h3 align="center">Why Choose Us</h3>
	<mat-grid-list cols="{{col}}" rowHeight="100px">
	  <mat-grid-tile>
	  	<span>
	  		<img src="assets/images/icons/onsite-computer-repair.png" height="30">
	  	</span>
	  	<span><b>Onsite Support</b></span>
	  </mat-grid-tile>
	  <mat-grid-tile>
	  	<span>
	  		<img src="assets/images/icons/hourglass.png" height="30">
	  	</span>
	  	<span><b>Flexible Duration</b></span>
	  </mat-grid-tile>
	  <mat-grid-tile>
	  	<span>
	  		<img src="assets/images/icons/rewind-time.png" height="30">
	  	</span>
	  	<span><b>4 Hours
	  	 Response Time</b></span>
	  </mat-grid-tile>
	  <mat-grid-tile>
	  	<span>
	  		<img src="assets/images/icons/delivery-truck.png" height="30">
	  	</span>
	  	<span><b>Quick Delivery</b></span>
	  </mat-grid-tile>
	  <mat-grid-tile>
	  	<span>
	  		<img src="assets/images/icons/customer-service.png" height="30">
	  	</span>
	  	<span><b>24/7/365 Support Time</b></span>
	  </mat-grid-tile>
	</mat-grid-list>
</section>
<section id="Rental-service">
	<h3 align="center">Rental Services</h3>
	<br>
	<mat-grid-list cols="{{col1}}" rowHeight="1:1" gutterSize="5px">
	  <mat-grid-tile class="bg-secondry hover">
	  	<a routerLink="/products" class="product-img">
	  		<img src="assets/images/laptop.png" >
	  		<span class="img-title">Laptops</span>
	  		<span class="hover-effect"></span>
	  	</a>
	  	
	  </mat-grid-tile>
	  <mat-grid-tile class="bg-secondry hover">
	  	<a routerLink="/products" class="product-img">
	  		<img src="assets/images/ipad.png" >
	  		<span class="img-title">Ipads/Iphone/Android</span>
	  		<span class="hover-effect"></span>
	  	</a>
	  </mat-grid-tile>
	  <mat-grid-tile class="bg-secondry hover">
	  	
	  	<a routerLink="/products" class="product-img">
	  		<img src="assets/images/server.png" >
	  		<span class="img-title">Server</span>
	  		<span class="hover-effect"></span>
	  	</a>
	  </mat-grid-tile>
	  <mat-grid-tile class="bg-secondry hover">
	  	
	  	<a routerLink="/products" class="product-img">
	  		<img src="assets/images/printers.png" >
	  		<span class="img-title">Printers</span>
	  		<span class="hover-effect"></span>
	  	</a>
	  </mat-grid-tile>
	  <mat-grid-tile class="bg-third hover">
	  	
	  	<a routerLink="/products" class="product-img">
	  		<img src="assets/images/computers.png" >
	  		<span class="img-title">Desktop</span>
	  		<span class="hover-effect"></span>
	  	</a>
	  </mat-grid-tile>
	  <mat-grid-tile class="bg-third hover">
	  	
	  	<a routerLink="/products" class="product-img">
	  		<img src="assets/images/workstation.png" >
	  		<span class="img-title">Workstations</span>
	  		<span class="hover-effect"></span>
	  	</a>
	  </mat-grid-tile>
	  <mat-grid-tile class="bg-third hover">
	  	<a routerLink="/products" class="product-img">
	  		<img src="assets/images/projectors.png" >
	  		<span class="img-title">Projectors</span>
	  		<span class="hover-effect"></span>
	  	</a>
	  </mat-grid-tile>
	  <mat-grid-tile class="bg-third hover">
	  	<a routerLink="/products"class="product-img">
	  		<img src="assets/images/apple.png" >
	  		<span class="img-title">Apple Products</span>
	  		<span class="hover-effect"></span>
	  	</a>
	  </mat-grid-tile>
	</mat-grid-list>
</section>
<br><br>
<section id="why-rent">
	<h3 align="center">Why Rent From Us ?</h3>
	<mat-grid-list cols="{{col2}}" rowHeight="300px" gutterSize="2rem">
	  <mat-grid-tile >
	  	<div class="why-rent">
	  		<span>
	  			<img src="assets/images/icons/rent.png" height="100">
	  		</span>
	  		<h4>IT Rental</h4>
	  		<p> Before we get into more details about what solutions we can offer you or your business, it is only fair that we offer a little background into the company. The huge demand for our quality service we gradually moved into the rental side of things. </p>
	  		<!-- <a mat-flat-button color="primary">Read More</a> -->
	  	</div>
	  </mat-grid-tile>
	  <mat-grid-tile>
	  	<div class="why-rent">
	  		<span>
	  			<img src="assets/images/icons/it-sale.png" height="100">
	  		</span>
	  		<h4>IT Sales</h4>
	  		<p> We specialize in computer and hardware rental services and that is our forte! Our rental options can be primarily divided into two major segments – short term rentals and long term rentals. We also provision for hire-purchase for your comfort.</p>
	  		<!-- <a mat-flat-button color="primary">Read More</a> -->
	  	</div>
	  </mat-grid-tile>
	   <mat-grid-tile >
	  	<div class="why-rent">
	  		<span>
	  			<img src="assets/images/icons/services.png" height="100">
	  		</span>
	  		<h4>IT Services</h4>
	  		<p>Managing the service is the best way to experience a smooth working system for a company. To have a technical support back, so that there are no issues faced while the work is going on. </p>
	  		<!-- <a mat-flat-button class="bg-third">Read More</a> -->
	  	</div>
	  </mat-grid-tile>
	  <mat-grid-tile >
	  	<div class="why-rent">
	  		<span>
	  			<img src="assets/images/icons/network.png" height="100">
	  		</span>
	  		<h4>Networking Solutions</h4>
	  		<p> There are many short-term demands for certain types of products and we can help by providing convenient 1 week to 1-2 month rentals on this type of equipment. </p>
	  		<!-- <a mat-flat-button class="bg-third">Read More</a> -->
	  	</div>
	  </mat-grid-tile>
	</mat-grid-list>
</section>