<section id="lap-rental">
	<div class="front-image desktop" style="background-image: url('assets/images/laptop.jpeg');">
		<div class="text">
			<h1>Desktops</h1>
			<p align="center"><a routerLink="/home">Home</a>/Desktops</p>
		</div>
	</div>
</section>
<br>
<section id="lap-text" class="mycontainer">
	<mat-card>
		<mat-card-title>
			<h3 align="center">Desktops</h3>
		</mat-card-title>
		<br>
		<mat-card-content>
			<p>
				When you Rent a Desktop from Microrent India, you immediately have access to some of the best brands in the industry. Our range includes HP, Acer, Dell, Lenovo, Apple Macbook, Alienware and ASUS.
				<br><br>
				When you Rent a Desktop in Mumbai, or any of the 10 cities we provide our products and services in across India, you get flexibility and reliability. And at a price which will bring a smile on your lips.
				<br><br>
				Microrent India is a 27 year old company in the IT industry specialised in Information Technology rentals. We are grateful to count the who’s who of corporate India and the top IT and consulting companies in India as our loyal customers.
				<br><br>
				Microrent India has a retention rate of over 96% which shows how happy our customers are with us, the quality of our equipment and our top notch service.
				<br><br>
				Taking a Desktop on Rent in Mumbai, or any of the other cities, will give you a cost advantage, free up your capital to utilize it for better returns, ensure you get the fastest support possible, even round the clock, 24/7/365*, and all your equipment is free of any expansion limitations . Most importanty, it will give you peace of mind.
				<br><br>
				When you Rent a Desktop its got to be about Service & Reliability, and at Microrent India we assure you of that!
			</p>
		</mat-card-content>
	</mat-card>
</section>
<app-subscribe></app-subscribe>
