<h1 mat-dialog-title>Write Review</h1>
<div mat-dialog-content>
  <form class="example-container" [formGroup]="reviewForm">
    <mat-form-field>
      <input matInput placeholder="Client Name" formControlName="clientName">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Client Reviewd" formControlName="clientReview"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click) = "submitReview()" [disabled] = "reviewForm.invalid">Primary</button>
</div>