<section id="rental-solution">
	<div class="front-image rental" style="background-image: url('assets/images/rental-solution.jpeg');">
		<div class="text">
			<h1>Rental Solution</h1>
			<p align="center"><a routerLink="/home">Home</a>/Renatl Solution</p>
		</div>
	</div>
	<div class="rental-container">
		<br>
		<h4 align="center">Rental Solution</h4>
		<br>
		<mat-card class="bg-secondry text-white">
			<mat-card-title><h5>1. SERVERS & STORAGE ON HIRE</h5></mat-card-title>
			<mat-card-content><p>A complete range of servers with all major brands are available with us. Entry level servers / Xeon based or high end multi core configurations are available with us.</p></mat-card-content>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<h6>FEATURES</h6>
						<ol>
							<li>All leading Brands (HP, DELL, IBM, Cisco)</li> 
							<li>Storage devices for BPO/KPO/MNC</li>
							<li>Customized configuration as per your requirement</li> 
						</ol>
					</div>
					<div>
						<img src="assets/images/storage-and-server.png" height="150">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-third text-white">
			<mat-card-title><h5>2. WORKSTATION ON HIRE</h5></mat-card-title>
			<mat-card-content><p>Workstation is a specially designed computer to perform some specific task with high end NVidia Graphic cards.</p></mat-card-content>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<h6>FEATURES</h6>
						<ol>
							<li>Workstations are optimized to do a specific task.</li>
							<li>Faster than ordinary desktops</li>
							<li>High end computers</li>
							<li>Connected in high speed network.</li>
							<li>Multiple processor ,display, powerful CPUs</li>
						</ol>
					</div>
					<div>
						<img src="assets/images/workstation.png" height="150">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-secondry text-white">
			<mat-card-title><h5>3. LAPTOPS ON HIRE</h5></mat-card-title>
			<mat-card-content>MICRORENT INDIA as one of the leading rental service provider, can deliver any number of laptops/notebook/ Mac book.  We can also customize laptops as per your requirement.  We offers short term as well as long term services, popular brands like HP, Dell, Lenovo etc. at very reasonable price.</mat-card-content>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<h6>FEATURES</h6>
						<ol>
							<li>All leading Brands (HP, DELL, LENOVO, ACER etc.)</li>
							<li>I3/i5/i7 processor systems.</li>
							<li>Mac book pro/ Mac Mini/ Laptops with Core i3 up to core i7</li>
							<li>Daily/ Weekly/Monthly rental options are available </li>
						</ol>
					</div>
					<div>
						<img src="assets/images/laptop.png" height="150">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-third text-white">
			<mat-card-title><h5>4. DESKTOPS ON HIRE</h5></mat-card-title>
			<mat-card-content>We provide branded as well as customized desktop as per user requirement.  In Desktops all configurations are available with us.</mat-card-content>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<h6>FEATURES</h6>
						<ol>
							<li>All leading Brands (HP, DELL, LENOVO, ACER, INTEL)</li>
							<li>Desktop with latest configuration</li>
							<li>i3/i5/i7 processor systems</li>
							<li>Daily/ Weekly/Monthly rental options are available</li> 
						</ol>
					</div>
					<div>
						<img src="assets/images/computers.png" height="150">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-secondry text-white">
			<mat-card-title><h5>5. PRINTERS ON HIRE</h5></mat-card-title>
			<mat-card-content>We have all kind of printers as per your requirement</mat-card-content>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<h6>FEATURES</h6>
						<ol>
							<li>Networks</li> 
							<li>Color Printers</li>
							<li>Multifunction Printer</li>
							<li>Laser jet printer</li>
						</ol>
					</div>
					<div>
						<img src="assets/images/printers.png" height="150">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-third text-white">
			<mat-card-title><h5>6. WE RENT OUT THE TOP ANDROID, i-PHONES & WINDOWS TABLETS</h5></mat-card-title>
			<mat-card-content>Rates available on request</mat-card-content>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<!-- <h6>FEATURES</h6>
						<ol>
							
						</ol> -->
					</div>
					<div>
						<img src="assets/images/ipad-and-tablet.png" height="150">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>

		<mat-card class="bg-secondry text-white">
			<mat-card-content>
				<div class="main-rental-container">
					<p>
						The company's hardware division has well trained young technocrat entrepreneurs who provide prompt services to our prestigious clients. 90% of our rentals are executed the same day and half of those are done within three business hours. <br/><br/>
						Our technical support staff is provided with mobile phones and conveyance and is available for immediate technical support to ensure prompt and quality service at client's site. For installations of more than 20 computers we provide "Resident Service Engineer". When you call "Microrent" you will always hear a friendly, courteous individual who is responsive and respectful.
						<br/><br/>
						Our prompt and quality service by qualified engineers have bagged us a large customer base which include Government and Public sector, Multinational Companies, Mega Blue Chip Companies, Foriegn as well as leading Indian Banks, leading Software Houses, International Airlines etc.<br/><br/><br/>
						Our rental services are Daily/ Weekly/ Monthly/ Yearly at most competitve rates.
					</p>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<br>
</section>