<section id="rental-solution">
	<div class="front-image rental" style="background-image: url('assets/images/rental-solution.jpeg');">
		<div class="text">
			<h1>Rental Solution</h1>
			<p align="center"><a routerLink="/home">Home</a>/Renatl Solution</p>
		</div>
	</div>
	<div class="rental-container">
		<br>
		<h4 align="center">Renatl Solution</h4>
		<br>
		<mat-card class="bg-secondry text-white">
			<mat-card-title><h5>Computers</h5></mat-card-title>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<p>-i7 DESKTOPS </p>
						<p>-i3 DESKTOPS </p>
						<p> -CORE 2 DUO DESKTOPS WITH LATEST CONFIGURATION  </p>
						<p> -TFT MONITORS (15" 17" !9" 22")</p>

					</div>
					<div>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
					</div>
					<div>
						<img src="assets/images/computers.png" height="100">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-third text-white">
			<mat-card-title><h5>Laptops: </h5></mat-card-title>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<p>-i7 DESKTOPS </p>
						<p>-i3 DESKTOPS </p>
						<p> -CORE 2 DUO WITH ALL CONFIGURATION
                         (HP/ LENOVO /SAMSUNG/ ACER/ DELL)  </p>

					</div>
					<div>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
					</div>
					<div>
						<img src="assets/images/laptop.png" height="100">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-secondry text-white">
			<mat-card-title><h5>Printers</h5></mat-card-title>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<p>-Inkjet</p>
						<p>-Dot Matrix</p>
						<p>-Laser</p>
						<p>-Printer with Fax / Photocopier / Scanner</p>
					</div>
					<div>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
					</div>
					<div>
						<img src="assets/images/printers.png" height="100">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-third text-white">
			<mat-card-title><h5>Display</h5></mat-card-title>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<p>-Colour Monitors - 14" to 28"</p>
						<p>-Touch screen monitors</p>
						<p>-LCD Screens</p>
						<p>-Plasma display</p>
					</div>
					<div>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
					</div>
					<div>
						<img src="assets/images/apple.png" height="100">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-secondry text-white">
			<mat-card-title><h5>Workstation</h5></mat-card-title>
			<mat-card-content>
				<div class="main-rental-container">
					<div>
						<p>-i7 DESKTOPS </p>
						<p>-i3 DESKTOPS </p>
						<p> -CORE 2 DUO DESKTOPS WITH LATEST CONFIGURATION  </p>
						<p> -TFT MONITORS (15" 17" !9" 22")</p>

					</div>
					<div>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
						<p>Rates available on request</p>
					</div>
					<div>
						<img src="assets/images/workstation.png" height="100">
					</div>
				</div>
			</mat-card-content>
		</mat-card>
		<br>
		<mat-card class="bg-secondry text-white">
			<mat-card-content>
				<div class="main-rental-container">
					<p>
						The company's hardware division has well trained young technocrat entrepreneurs who provide prompt services to our prestigious clients. 90% of our rentals are executed the same day and half of those are done within three business hours. <br/><br/>
						Our technical support staff is provided with mobile phones and conveyance and is available for immediate technical support to ensure prompt and quality service at client's site. For installations of more than 20 computers we provide "Resident Service Engineer". When you call "Microrent" you will always hear a friendly, courteous individual who is responsive and respectful.
						<br/><br/>
						Our prompt and quality service by qualified engineers have bagged us a large customer base which include Government and Public sector, Multinational Companies, Mega Blue Chip Companies, Foriegn as well as leading Indian Banks, leading Software Houses, International Airlines etc.<br/><br/><br/>
						Our rental services are Daily/ Weekly/ Monthly/ Yearly at most competitve rates.
					</p>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<br>
</section>