<section id="about">
	<div class="front-image about-front" style="background-image: url('assets/images/about-front-bg.jpeg')">
		<div class="text">
			<h1>Products</h1>
			<p align="center"><a routerLink="/home">Home</a> / Products</p>
		</div>
	</div>
</section>
<section class="mycontainer">
	<mat-card>
		<mat-card-title>
			<h3 class="center">LAPTOPS</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="image-container">
					<img src="assets/images/laptop.jpeg" >
				</div>
				<div class="text-container">
					<p>Microrent India not only provide laptop but various other products on rent. It is rightly said that the Large Inventory
					+ Close Location + Experience = Successful event. We have been providing the best quality laptops, if your employees
					need flexibility in terms of switching from one location to another; Laptops are available on rent so as to give them
					immediate flexibility.</p>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">DESKTOPS</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="text-container">
					<p>Owning a desktop has never been easier as you can rent it from Microrent India. We serve desktop rental to corporate
					sector. We have been growing constantly because of our efficiency and effective delivery of services and products at
					affordable rates. We have a huge inventory of Commercial Desktops/Workstations which has been customized for Corporate
					Usage.</p>
				</div>
				<div class="image-container">
					<img src="assets/images/computers.png">
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">IPADS</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="image-container">
					<img src="assets/images/ipad.png">
				</div>
				<div class="text-container">
					<p>Experience the air in your hands with this all new sleekest and smartest iPad Air from Apple. With its impressive
					features and engaging design it is a lot more than just a tablet and weighs only 469g. Nothing comes between you and
					what you love with its superb quality Retina Display.</p>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">WORKSTATIONS</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="text-container">
					<p>A workstation is a high-end microcomputer designed for technical or scientific applications. Workstations had offered
					higher performance than desktop computers, especially with respect to CPU and graphics, memory capacity, and
					multitasking capability.</p>
				</div>
				<div class="image-container">
					<img src="assets/images/workstation.png">
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">SERVER</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="image-container">
					<img src="assets/images/server.png">
				</div>
				<div class="text-container">
					<p>Today’s Technical world is ever advancing and ever changing. Hence for the effective business and corporate functioning
					it is very crucial to keep upgrading the Technical advancements. We cater to all the requirements as per our clients
					and customer requirements.</p>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">PROJECTORS</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="text-container">
					<p>Our Projectors are a greatly rated LCD / DLP / 3D projector that yield a bright, sharp image and graphics. We offer
					perfect projector to rent for small to large size exhibitions.</p>
				</div>
				<div class="image-container">
					<img src="assets/images/projectors.png">
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">PRINTERS</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="image-container">
					<img src="assets/images/printers.png">
				</div>
				<div class="text-container">
					<p>With technology moving at such a rapid pace, renting makes perfect sense. Why buy when it could be outdated in a matter
					of months? Microrent India lets you upgrade anytime, so you can get the latest of everything when you want it.</p>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">APPLE</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="text-container">
					<p>Macintosh Systems on rent is not a dream now rather it is a reality. Microrent India is providing Apple Mac Mini / iMac
					computer on rent in Delhi NCR. You can hire these Apple machines for short term or long term requirement.</p>
				</div>
				<div class="image-container">
					<img src="assets/images/apple.png">
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</section>