<section class="mycontainer">
	<mat-card>
		<mat-card-title>
			<h3 class="center">LAPTOPS</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="image-container">
					<img src="assets/images/laptop.jpeg">
				</div>
				<div class="text-container">
					<p>When you Rent a Laptop from Microrent India, you immediately have access to some of the best brands in the industry. Our range includes HP, Acer, Dell, Lenovo, Apple Macbook, Alienware and ASUS.
					</p>
					<p>
						When you Rent a Laptop in Mumbai, or any of the 10 cities we provide our products and services in across India, you get flexibility and reliability. And at a price which will bring a smile on your lips. 
					</p>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">Desktops</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="text-container">
					<p>When you Rent a Desktop from Microrent India, you immediately have access to some of the best brands in the industry. Our range includes HP, Acer, Dell, Lenovo, Apple Macbook, Alienware and ASUS.
					</p>
					<p>
					When you Rent a Desktop in Mumbai, or any of the 10 cities we provide our products and services in across India, you get flexibility and reliability. And at a price which will bring a smile on your lips. 
					</p>
				</div>
				<div class="image-container">
					<img src="assets/images/computers.png">
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">IPADS</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="image-container">
					<img src="assets/images/ipad.png">
				</div>
				<div class="text-container">
					<p>When you Rent a Laptop from Microrent India, you immediately have access to some of the best brands in the industry. Our range includes HP, Acer, Dell, Lenovo, Apple Macbook, Alienware and ASUS.
					</p>
					<p>
						When you Rent a Laptop in Mumbai, or any of the 10 cities we provide our products and services in across India, you get flexibility and reliability. And at a price which will bring a smile on your lips. 
					</p>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">WORKSTATION</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="text-container">
					<p>When you Rent a Desktop from Microrent India, you immediately have access to some of the best brands in the industry. Our range includes HP, Acer, Dell, Lenovo, Apple Macbook, Alienware and ASUS.
					</p>
					<p>
					When you Rent a Desktop in Mumbai, or any of the 10 cities we provide our products and services in across India, you get flexibility and reliability. And at a price which will bring a smile on your lips. 
					</p>
				</div>
				<div class="image-container">
					<img src="assets/images/workstation.png">
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">SERVER</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="image-container">
					<img src="assets/images/server.png">
				</div>
				<div class="text-container">
					<p>When you Rent a Laptop from Microrent India, you immediately have access to some of the best brands in the industry. Our range includes HP, Acer, Dell, Lenovo, Apple Macbook, Alienware and ASUS.
					</p>
					<p>
						When you Rent a Laptop in Mumbai, or any of the 10 cities we provide our products and services in across India, you get flexibility and reliability. And at a price which will bring a smile on your lips. 
					</p>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">PROJECTOR</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="text-container">
					<p>When you Rent a Desktop from Microrent India, you immediately have access to some of the best brands in the industry. Our range includes HP, Acer, Dell, Lenovo, Apple Macbook, Alienware and ASUS.
					</p>
					<p>
					When you Rent a Desktop in Mumbai, or any of the 10 cities we provide our products and services in across India, you get flexibility and reliability. And at a price which will bring a smile on your lips. 
					</p>
				</div>
				<div class="image-container">
					<img src="assets/images/projectors.png">
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">PRINTER</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="image-container">
					<img src="assets/images/printers.png">
				</div>
				<div class="text-container">
					<p>When you Rent a Laptop from Microrent India, you immediately have access to some of the best brands in the industry. Our range includes HP, Acer, Dell, Lenovo, Apple Macbook, Alienware and ASUS.
					</p>
					<p>
						When you Rent a Laptop in Mumbai, or any of the 10 cities we provide our products and services in across India, you get flexibility and reliability. And at a price which will bring a smile on your lips. 
					</p>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-title>
			<h3 class="center">APPLE</h3>
		</mat-card-title>
		<mat-card-content>
			<div class="products-container">
				<div class="text-container">
					<p>When you Rent a Desktop from Microrent India, you immediately have access to some of the best brands in the industry. Our range includes HP, Acer, Dell, Lenovo, Apple Macbook, Alienware and ASUS.
					</p>
					<p>
					When you Rent a Desktop in Mumbai, or any of the 10 cities we provide our products and services in across India, you get flexibility and reliability. And at a price which will bring a smile on your lips. 
					</p>
				</div>
				<div class="image-container">
					<img src="assets/images/apple.png">
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</section>