<div class="carousel carousel-slider main-carousal">
    <a class="carousel-item" href="#one!">
    	<div class="carousal-text">
			<h1>This is text</h1>
    	</div>
    	<img src="assets/images/banner1.jpeg">
    </a>
    <a class="carousel-item" href="#two!">
    	<div class="carousal-text">
			<h1>This is text</h1>
    	</div>
    	<img src="assets/images/banner2.jpeg">
    </a>
    <a class="carousel-item" href="#three!">
    	<div class="carousal-text">
			<h1>This is text</h1>
    	</div>
    	<img src="assets/images/banner3.jpeg">
    </a>
</div>

