<div class="carousel carousel-slider main-carousal">
	<a class="carousel-item" href="#two!">
		<div class="carousal-text">
			<h2>WHY BUY WHEN YOU CAN RENT IT?</h2>
		</div>
		<img src="assets/images/banner-2.jpg">
	</a>
	<a class="carousel-item" href="#one!">
		<div class="carousal-text">
			<h2>WHY BUY WHEN YOU CAN RENT IT?</h2>
		</div>
		<img src="assets/images/banner-1.jpg">
	</a>
	<a class="carousel-item" href="#three!">
		<div class="carousal-text">
			<h2>WHY BUY WHEN YOU CAN RENT IT?</h2>
		</div>
		<img src="assets/images/banner-3.jpg">
	</a>
</div>