<section id="get-more">
	<div class="get-more" style="background-image:url('assets/images/get-more-bg.jpg');">
		<div>
			<h3>Get More Information From Us!</h3>
			<p><b>Get the best services in Delhi,NCR. Call us to get the latest updates.</b></p>
			<div class="subscribe">
				<span><b>Your E-Mail</b></span>
				<input  type="email"  required [formControl] = "email">
				<div class="subscribe-btn"><button (click)="subscribe()">Subscribe Now</button></div>
			</div>
		</div>
	</div>
</section>
<section>
	<swal
		#success
		title="Thankyou!"
		text="You Have Succefully Subscribed.We Will contact you soon"
		type="success"
	></swal>
	<swal 
		#error 
		title="Error!" 
		text="Oops! Error Found" 
		type="error">
	</swal>
</section>