<section id="get-more">
	<div class="get-more" style="background-image:url('assets/images/get-more-bg.jpg');">
		<div>
			<h3>Get More Information From Us!</h3>
			<p><b>Get The Best Services In The New Delhi.Call Us On To Get Latest Updates </b></p>
			<div class="subscribe">
				<span><b>Your E-Mail</b></span>
				<input  type="email"  required [formControl] = "email">
				<div class="subscribe-btn"><button (click)="subscribe()">Subscribe Now</button></div>
			</div>
		</div>
	</div>
</section>