<section id="contact-us">
	<div class="front-image contact" style="background-image:url('assets/images/contact-front.jpg') ;">
		<div class="text">
			<h1>Contact Us</h1>
			<p align="center"><a routerLink="/home">Home</a>/About</p>
		</div>
	</div>
</section>
<section id="contact-form" class="contact-form-container"> 
	<mat-card>
		<mat-grid-list cols="{{cols}}" rowHeight="300px">
			<mat-grid-tile>
				<img src="assets/images/contact-side-img.jpeg">
			</mat-grid-tile>
			<mat-grid-tile>
				<div class="lets-talk">
					<h3>Lets Talk</h3>
					<div class="call-details">
						<h6>CallUs: <b>6341014572012</b></h6>
						<h6>Toll Free: <b>6341014572012</b></h6>
						<h6>Email: <b>examh5le@gmail.com</b></h6>
					</div>
				</div>
			</mat-grid-tile>
		</mat-grid-list>
		<br>
		<div class="contact-form-main">
			<h3>Contact Form</h3>
			<mat-card>
				<form [formGroup]="getQoute" (ngSubmit)="onSubmit(getQoute)">
					<mat-form-field class="get-quote-form-full-width">
					    <input type="text" matInput placeholder="Name" formControlName="name">
					</mat-form-field>
					<mat-form-field class="get-quote-form-full-width">
					    <input type="email" matInput placeholder="Email" formControlName="email">
					</mat-form-field>
					<mat-form-field class="get-quote-form-full-width">
					    <input type="text" matInput placeholder="Phone" formControlName="phone">
					</mat-form-field>
					<mat-form-field class="get-quote-form-full-width">
					    <textarea type="text" matInput placeholder="Message" formControlName="message"></textarea>
					</mat-form-field>
					<button mat-flat-button  [disabled]="getQoute.invalid">Submit</button>
				</form>
			</mat-card>
		</div>
	</mat-card>
</section>