<app-carousal></app-carousal>
	<br><br>
<section id="welcome-computer"  class="margin">
	<!-- <mat-card class="welcome-card">
	  <mat-card-header>
	    <mat-card-title>
	    	<h3>Welcome to computer Rent</h3>
	    </mat-card-title>
	  </mat-card-header>
	  <mat-card-content>
	    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	    </p>
	  </mat-card-content>
	</mat-card> -->
	<div align="center">
		<h3>Welcome to Microrent India</h3>
		<p> Microrent India is Delhi's largest Computer Rental Company and is a well established organistation. Our product range include computers with any configuration,laptops, printers. display devices, touchscreen monitors, multimedia devices, networking products etc.</p>
	</div>
</section>
<br><br>
<section id="grid" class="margin">
	<app-grid></app-grid>
</section>

<app-subscribe></app-subscribe>
<!-- <section id="why-client" class="why-client bg-secondry">
	<h3 align="center" >Why Our Clients Love Us</h3>
	<div class="carousel client-carousal">
	    <div class="carousel-item" href="#one!">
	    	<mat-card>
	    		<mat-card-header>
	    			<mat-card-title>
	    				Name Of the Client
	    			</mat-card-title>
	    		</mat-card-header>
	    		<mat-card-content>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    			</p>
	    		</mat-card-content>
	    	</mat-card>
	    </div>
	    <a class="carousel-item" href="#two!">
	    	<mat-card>
	    		<mat-card-header>
	    			<mat-card-title>
	    				Name Of the Client
	    			</mat-card-title>
	    		</mat-card-header>
	    		<mat-card-content>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    			</p>
	    		</mat-card-content>
	    	</mat-card>
	    </a>
	    <a class="carousel-item" href="#three!">
	    	<mat-card>
	    		<mat-card-header>
	    			<mat-card-title>
	    				Name Of the Client
	    			</mat-card-title>
	    		</mat-card-header>
	    		<mat-card-content>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    			</p>
	    		</mat-card-content>
	    	</mat-card>
	    </a>
	</div>
</section> -->
<br><br>
<section id="client-carousal">
	<h3 align="center">Why Our Clients Love Us?</h3>
	<div class="carousel carousel-slider center client-carousal">
	    <div class="carousel-item " href="#one!">
	      <div class="client-carousal-main">
	      	<div class="client-feedback">
	      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      		consequat. Duis aute irure </p>
	      		<h3>Name</h3>
	      	</div>
	      	<div class="client-feedback">
	      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      		consequat. Duis aute irure </p>
	      		<h3>Name</h3>
	      	</div>
	      </div>
	    </div>
	    <div class="carousel-item " href="#two!">
	      <div class="client-carousal-main">
	      	<div class="client-feedback">
	      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      		consequat. Duis aute irure </p>
	      		<h3>Name</h3>
	      	</div>
	      	<div class="client-feedback">
	      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	      		consequat. Duis aute irure </p>
	      		<h3>Name</h3>
	      	</div>
	      </div>
	    </div>
	    <div class="carousel-item " href="#three!">
		    <div class="client-carousal-main">
		      	<div class="client-feedback">
		      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		      		consequat. Duis aute irure </p>
		      		<h3>Name</h3>
		      	</div>
		      	<div class="client-feedback">
		      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		      		consequat. Duis aute irure </p>
		      		<h3>Name</h3>
		      	</div>
		    </div>
	    </div>
	    <div class="carousel-item" href="#four!">
		    <div class="client-carousal-main">
		      	<div class="client-feedback">
		      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		      		consequat. Duis aute irure </p>
		      		<h3>Name</h3>
		      	</div>
		      	<div class="client-feedback">
		      		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		      		consequat. Duis aute irure </p>
		      		<h3>Name</h3>
		      	</div>
		    </div>
	    </div>
	</div>
</section>