<app-carousal></app-carousal>
<br><br>
<section id="welcome-computer" class="margin">
	<div align="center">
		<h3>Welcome to Microrent India</h3>
		<p> Microrent India is Delhi's largest Computer Rental Company and is a well established organisation. Our product
			range include computers with any configuration,laptops, printers, display devices, touchscreen monitors, multimedia
			devices, networking products etc.</p>
	</div>
</section>
<br><br>
<section id="grid" class="margin">
	<app-grid></app-grid>
</section>

<app-subscribe></app-subscribe>

<br><br>

<section id="client-carousal">
	<h3 align="center">Why Our Clients Love Us?</h3>
	<div class="carousel carousel-slider center client-carousal">
		<div class="carousel-item" *ngFor="let clientReview of clientReviews">
			<div class="client-carousal-main">
				<p>{{ clientReview.clientReview }}</p>
				<h5> {{ clientReview.clientName }} </h5>
			</div>
		</div>
	</div>
</section>