<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="./overview" routerLinkActive="activeNavClass">Home</a>
      <a mat-list-item routerLink="./quotes" routerLinkActive="activeNavClass">Quotes</a>
      <a mat-list-item routerLink="./contact-customer" routerLinkActive="activeNavClass">Contacted Customers</a>
      <a mat-list-item routerLink="./subscriber" routerLinkActive="activeNavClass">Subscribed Users</a>
      <a mat-list-item routerLink="./customer-reviews" routerLinkActive="activeNavClass">Customer Reviews</a>
      <a mat-list-item (click)="logout()" routerLinkActive="activeNavClass">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Microrent India</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <section class="dashboard-padding">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
